/*
    GERAL ↴
*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

/*
    FUNDO ↴
*/

body {
    padding: 0px;
    margin: 0px;
}

/*
    ÁREA MENU ↴
*/

.logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

nav ul, nav ui {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    font-size: 12px;
    padding-top: 17px;
    padding-right: 20px;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border-radius: 5px;
}

nav .active a,
nav a:hover {
	background-color: #0a3e82;
	color: #ffffff;
	font-weight: bold;
    font-size: 13px;
}

.fundo_barra {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.menu_mobile {
	display: none;
	width: 40px;
	height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 20px;
}

.mm_line {
	height: 3px;
	background-color: #0a3e82;
}


/*
    DESCRIÇÃO PRODUTO ↴
*/

.fundo_conteudo {
    display: flex;
    height: 540px;
}

.produto h1 {
    font-weight: bolder;
    padding-right: 100px;
}

.descricao_produto {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    justify-content: center;
    padding: 60px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    line-height: 23px;
}

.botao1 {
    margin-bottom: 10px;
}
button {
   border: 1px solid black;
   flex-direction: row;
   background-color: transparent;
   height: 35px;
   text-align: center;
   display: inline;
   flex-direction: row;
   border-radius: 20px;
}


button:hover {
    background-color: #0a3e82;
    color: white;
    font-size: 14px;
    font-weight: bolder;
}

label a {
    text-decoration: none;
}

.menu_mobile {
	display: none;
	width: 40px;
	height: 40px;
	margin-top: 35px;
	margin-bottom: 40px;
	margin-right: 20px;
}

.mm_line {
	height: 3px;
	background-color: #0a3e82;
}

.produto {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    width: 30%;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 5px;
}

    .descricao_produto {
        width: 250px;
        height: 1060px;
        margin-left: 20px;
        padding-top: 95px;
 }

    .produto {
        position: absolute;
        border: none;
        padding-top: 700px;
        padding-left: 130px;
}

@media (max-width: 600px) {
    
    /*
        ÁREA MENU ↴
    */

    nav ul {
        flex-direction: column;
        display: none;
        position: fixed;
        border-radius: 6px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
 }

    .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .botao1 {
        margin-top: 400px;
    }
    .botao2 {
        margin-bottom: 40px;
    }
}
